<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.informatics.b254safaris">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppFullScreenTheme">
           </activity>
        <activity android:name=".googleplaceapi.activities.DetailActivity"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".Hotel.diani"
            android:label="Diani Hotel"/>
        <activity android:name=".Hotel.lamu"
            android:label="Lamu Hotels"/>
        <activity android:name=".Hotel.hotel"
            android:label="Mombasa Hotels"/>
        <activity android:name=".Restaurant.lamu"
            android:label="Lamu Restaurants"/>
        <activity android:name=".Restaurant.mombasa"
            android:label="Mombasa Restaurants"/>
        <activity android:name=".Restaurant.diani"
            android:label="Diani Restaurants"/>
        <activity android:name=".Sceneries.lamu"
            android:label="Lamu Sceneries"/>
        <activity android:name=".authentication.LoginActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJnDn_O0nybXXsBypZ_5wTu1lVXOgHIjU" />
        <activity android:name=".Sceneries.mombasa"
            android:label="Mombasa Sceneries"/>
        <activity android:name=".Sceneries.diani"
            android:label="Diani Sceneries"/>
        <activity android:name=".authentication.RegisterActivity"
           android:theme="@style/AppFullScreenTheme"   />
        <activity android:name=".authentication.CustomerSettingsActivity" />
        <activity android:name=".Discovery.activities.ListActivity"
            android:theme="@style/AppFullScreenTheme"  />
    </application>


    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>